.hr{ 
    height: 1px;
    background-color: white;
    padding-right: 10px;
}
.main-writing{
    width: 100%;
    height: 500px;
    background: rgb(75,6,193);
    background: linear-gradient(-90deg, rgba(75,6,193,1) 0%, rgba(180,16,193,1) 100%, rgba(157,4,191,1) 100%);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 150px;
}

.UX-Image-Main{

    height: 600px;
    width: 500px;
    margin-right: auto;
    padding-left: 50px;
}
.UX-text{
    color: ivory;
    margin-right: auto;
    max-width: 50%;
    padding-left: 50px;
    padding-top: 70px;
}
.UX-heading{
    font-weight: 500;
}
.UX-para{
    font-size: larger;
    font-weight: lighter;
    padding-top: 15px;
}